<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Nombre: @ViewBag.paisBuscar.Nombre</h1>
<h1>Bandera: <img src="/Imagenes/@ViewBag.paisBuscar.imgBandera" alt="@ViewBag.Nombre"></h1>
<h1>Poblacion: @ViewBag.paisBuscar.Poblacion</h1>
<h1>Fecha de Independencia: @ViewBag.paisBuscar.FechaIndependencia</h1>
<h1>Atractivos turisticos: @ViewBag.paisBuscar.AtractivosTuristicos</h1>
</body>
</html>
